@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  main{
    flex: 1;
  }

header {
  color: #000000;
  text-align: left;

  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  position: relative;
  left: 34px;
}

nav {
    padding: 0px 0;
    position: relative;
    left: 55px;
    top: -55px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  nav ul li {
    margin: 0 15px;
  }

  nav a:hover {
    background: rgb(231, 223, 223);
  }

  nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }

  /* nav ul li a:hover {
    color: #ff0000;
  } */

.key-features {
  margin-top: 10px;
  padding-left: 20px;
}

.key-features li {
  list-style-type: disc;
  margin-bottom: 5px;
}

.citypara {
  font-size: 1rem;
  line-height: 1.5;
}

.citytransfer {
  padding: 23px;
  flex: 1;
  margin: 34px;
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  padding: 10px 20px 20px 10px;
  background-color: #fff;
  border-radius: 22px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 572px;
  max-width: 522px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 26px;
  /* position: relative;
  left: 45px; */
}

.cta-button {
  display: inline-block;
  background-color: #ef8467;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: relative;
}

.video {
  position: relative;
  left: 650px;
  top: -449px;
}

.key-features1 li {
  list-style-type: disc;
  margin-bottom: 5px;
}

.key-features1 {
  margin-top: 10px;
   padding-left: 20px; 
} 
.rentally {
  padding: 23px;
  flex: 1;
  margin: 34px;
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  border-radius: 22px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 623px;
  max-width: 643px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 26px;
  margin-top: -400px;
}

.key-features2 li {
  list-style-type: disc;
  margin-bottom: 5px;
}

.key-features2 {
  margin-top: 10px;
  padding-left: 20px;
}

.specially {
  padding: 23px;
  flex: 1;
  margin: 34px;
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  border-radius: 22px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 687px;
  max-width: 683px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  margin-left: 712px;
  margin-top: -355px;
  position: relative;
  justify-content: center;
  align-items: center;
  top: -42px
  /* position: relative;
  left: 752px;
  top: -825px; */
}
footer {
  text-align: center;
  padding: 0px 0;
  background-color: #f7776e;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}


/*Mobile Devices */
@media (max-width: 600px) {
  header h1 {
    font-size: 1.5rem;
    text-align: center;
    left: 0;
  }

  nav {
    left: 0;
    top: 0;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .citytransfer{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    bottom: -500px;
    /* margin-top: 1000px; */
  }



  .specially{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 76px;


  }


  .rentally{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 79px;
  }

  .video {
    left: 0;
    width: 100%;
  }

  .cta-button {
    left: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}
