/*Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  background-color: rgb(238, 239, 241);
}

.root {
  --main-color: #b02f18;
  --second-color: #ffac38;
  --text-color: #444;
  --gradient: linear-gradient(#fe5b3d, #ffac38);
}

/*Custom Scroll Bar */
html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: rgb(220, 215, 215);
  border-radius: 5rem;
}

section {
  padding: 50px 100px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eeeff1;
  padding: 15px 100px;
}

.logo img {
    width: 60px;
    border-radius: 10px; /* This creates 10px rounded corners */
  }
  .CabRental_logo img {
       margin: 9px 30px 0px 0px;
  }


  /* header nav {

  width: 60px;
  border-radius: 60px;
   This creates 10px rounded corners 
}*/


/* header nav {

    padding: 20px 40px 20px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #1e1e1e;
}

header nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .nav-right a {
    text-decoration: none;
    color: #1e1e1e;
    margin-right: 40px;
    position: relative;
}

header nav .nav-right a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 0;
    height: 2px;
    background: #1e1e1e;
    transition: width .3s ease-in-out;
}

header nav .nav-right a:hover:after {
    width: 70%;
}

header nav .nav-right a.active:after {
    width: 70%;
}

header nav .nav-right .header-btn > div {
    background: #eeeff1;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
}

header nav .nav-right .header-btn > div input {
    background: transparent;
    border: none;
    outline:none;
    font-size: 16px;
    color: #fff;
} */
.sign-up {
  padding: 8px 30px;
  border: 1px solid transparent;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  transition: all .5s ease-in-out;
}

.sign-up {
  background: transparent;
  color: #eeeff1;
  border-color: #ff0001;
}

.sign-up:hover {
  /* background: #ffffff;*/
  background: #ff0001;
  color: #121212;
}

/*.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: #444;
    font-weight: 500;
}
.navbar a ::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover{
    background: rgb(231, 223, 223);
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color: #444;
    font-weight: 500;
}
.header-btn .sign-in{
    background: #475fa0;
    color: #fff;
    border-radius: 0.5rem;
}
.header-btn .sign-in:hover{
    background: red;
}
.header-btn .sign-up{
    background: #474fa1;
    color: #fff;
    border-radius: 0.5rem;
}
.header-btn .sign-up:hover{
    background: rgb(211, 10, 10);
}*/


.navbar {
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: #444;
  font-weight: 500;
}

.navbar a ::after {
  content: "";
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
}

.navbar a:hover {
  background: rgb(231, 223, 223);
}

/*
Added hover and color changes in footer 
*/
li a {
  color: inherit;  /* Default color (will inherit the parent's color) */
  text-decoration: none;  /* Removes underline from the link */
  transition: color 0.3s ease;  /* Adds a smooth transition effect */
}

li a:hover {
  color: rgb(182, 170, 170);  /* Changes the text color to black on hover */
}




.navbar {
  display: flex;
  justify-content: space-between;
  /* Adjust alignment as needed */
  align-items: center;
  background: #eeeff1;
  /* Example background color */
  padding: 15px 100px;
  /* Example padding */
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar li {
  margin: 0 10px;
  /* Adjust margin between menu items */
}

.navbar a {
  text-decoration: none;
  color: #1e1e1e;
  /* Example text color */
  font-weight: 500;
  padding: 10px 20px;
  /* Adjust padding as needed */
  position: relative;
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #1e1e1e;
  /* Example underline color */
  transition: width .3s ease-in-out;
}

.navbar a:hover::after {
  width: 100%;
  /* Adjust width of underline on hover */
}

.navbar .active::after {
  width: 100%;
  /* Adjust width of underline for active link */
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.header-btn a {
  padding: 10px 20px;
  color: #444;
  font-weight: 500;
}

.header-btn .sign-in {
  background: #475fa0;
  color: #fff;
  border-radius: 0.5rem;
}

.header-btn .sign-in:hover {
  background: red;
}

.header-btn .sign-up {
  background: #474fa1;
  color: #fff;
  border-radius: 0.5rem;
}

.header-btn .sign-up:hover {
  background: rgb(211, 10, 10);
}


.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, lfr);
}

.carweb img {
  left: 1400px;
  width: 100%;
}

.text h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.text span {
  color: red;
}

.text p {
  margin: 00.5rem 0 1rem;
}

.app-stores {
  display: flex;
  position: absolute;
}

.app-stores img {
  width: 200px;
  margin-right: 1rem;
  cursor: pointer;
}

.booking-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 2px solid orangered;
  border-radius: 5px;
  font-size: 16px;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: orangered;
}

#bookNow {
  background-color: orangered;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#bookNow:hover {
  background-color: orangered;
  transform: scale(1.1);

}

/* .form-container form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 10px;
  left: 100px;
  background-color: rgb(238, 239, 241);
  padding: 19px;
  border-radius: 0.5rem;
} */

.input-box {
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}

.input-box span {
  font-weight: 500;
}

.input-box span span {
  color: #b02f18;
}

.input-box input {
  padding: 7px;
  outline: none;
  border: none;
  background: #e2e5eb;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.form-container form .btn {
  flex: 1 1 7rem;
  padding: 10px 34px;
  border: none;
  border-radius: 0.5rem;
  background: #474fa0;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.form-container form .btn:hover {
  background: rgb(211, 15, 15);
}

.icon{
  max-width: 4rem;
  max-height: 4rem;
}

.heading {
  text-align: center;
}

.heading span {
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
}

.heading h1 {
  font-size: 2rem;
}

#why-choose-us {
  padding: 50px 0;
  background-color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.header h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 36px;
  color: #000;
  margin-bottom: 20px;
}

.header p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.find-details {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.find-details:hover {
  background-color: #0056b3;
}

.features {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.feature {
  width: 30%;
  text-align: left;
}

.feature img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.feature p {
  font-size: 14px;
  color: #666;
}

.ride {


    display: flex;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 0rem;


}
@media (max-width : 768px) {
  .ride{
    display: flex;
    flex-direction: column;
  }
  section{
    padding: 50px 20px ;
  }

  #review{
    width: 100% !important;
  }
}
.ride span{
  font-size: 40px;
  font-weight: 800;
}
.ride h1{
  font-size: 30px;
  font-weight: 500;
  color: rgb(211, 15, 15);
}
.ride h2{
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
}
.ride p{
  font-size: 18px;
  padding-top: 20px;
}
.ride .ride-container {
  text-align: center;
  padding: 20px;
}

.ride .ride-container .bx {
  font-size: 34px;
  padding: 10px;
  background: #eeeff1;
  border-radius: 0.5rem;
  color: #fe5b3d;
}

.ride .ride-container .bx h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.5rem 0 0.5rem;
}

.ride .ride-container .bx:hover {
  background: red;
  color: #eeeff1;
}

.box {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.services-container .box {
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}

.services-container .box .box-img {
  width: 100%;
  height: 200px;
}

.services-container .box .box-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}

.services-container .box p {
  padding: 0 10px;
  border: 1px solid #444;
  width: 58px;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem;
}

.services-container .box h3 {
  font-weight: 500;
}

.services-container .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #b02f18;
  margin: 0.2rem;
}

.services-container .box h2 span {
  font-size: 0.8rem;
  font-weight: 500;
  color: #444;
}

.services-container .box .btn {
  display: flex;
  justify-content: center;
  background: #474fa0;
  color: #fff;
  padding: 10px;
  border-radius: 0.5rem;
}

.services-container .box .btn:hover {
  background-color: #b02f18;
}

.form-container1 form {
  display: list-item;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 3.4rem;
  left: 100px;
  background-color: rgb(238, 239, 241);
  padding: 19px;
  border-radius: 0.5rem;
}

.buttonClass {
  font-size: 15px;
  font-family: Arial;
  margin-top: 10px;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #333333;
  border-color: #ffaa22;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 1px 0px 0px #fff6af;
  text-shadow: 0px 1px 0px #ffee66;
  background: linear-gradient(#ffec64, #ffab23);
}

.buttonClass:hover {
  background: linear-gradient(#ffab23, #ffec64);
  color: #fff;
}

.form {
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 3.5rem;
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* #testimonials {
    padding: 50px 0;
/*     background-color: #eeeff1; */

/* #testimonials .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  #testimonials h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  #testimonials h2 span {
    color: #f74c4c;
  }
  
  .reviews {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }

.review-text{
    background-color: white;
}
  
  .review {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 350px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .review:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
  .review-content {
    padding: 20px;
    background-color: #fff;
    text-align: center;
  }
  
  .review-content p {
    margin: 0 0 10px;
    font-size: 1em;
    color: #666;
  }
  
  .review-content .review-author {
    color: #333;
    font-weight: bold;
    background-color: white;
  }
  
  .review-image {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .review-image img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  /*  */
.view-all {
  background-color: #f74c4c;
  color: #fff;
  border: none;
  padding: 15px 30px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .view-all:hover {
    background-color: #d94343;
  }  */

.testimonials {
  text-align: center;
  padding: 50px 20px;
}

.testimonials h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.testimonials .highlight {
  color: #ff6363;
}

.testimonials-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.testimonial {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  transition: transform 0.3s;
}

.testimonial:hover {
  transform: scale(1.05);
}

.testimonial p {
  margin: 10px 0;
}

.client {
  font-weight: bold;
}

.client-photo {
  border-radius: 50%;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.view-all {
  margin-top: 20px;
}

.view-all-button {
  display: inline-block;
  background-color: #ff6363;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.view-all-button:hover {
  background-color: #ff4b4b;
}

@media (max-width: 768px) {
  .reviews {
    flex-direction: column;
    align-items: center;
  }

  .review {
    width: 80%;
    max-width: none;
  }

  .review-content {
    padding: 15px;
  }

  .review-image img {
    width: 60px;
    height: 60px;
  }
}

footer {
  background-color: #e6e7e9;
  color: #141414;
  padding: 7px 5px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.call-us {
  text-align: center;
  margin-bottom: 20px;
}

.call-us p {
  margin: 0;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-column {
  flex: 1;
  margin: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #141414;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #999;
}

.language-selector {
  text-align: center;
}

.language-selector button {
  background-color: #141414;
  border: 1px solid #333;
  color: #999;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-selector button img {
  margin-left: 10px;
}

.language-selector button:hover {
  background-color: #333;
  color: #fff;
}

@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin: 20px 0;
    text-align: center;
  }
}

/* review */
.heading {
  font-size: 40px;
}

.review .review-slider {
  box-shadow: var(--box-shadow);
}

.review .review-slider .slide {
  background: var(--white);
  border-radius: 0.5rem;
  text-align: center;
  padding: 3rem;
}

.review .review-slider .slide img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.review .review-slider .slide h3 {
  font-size: 2rem;
  color: var(--primary-color);
}

.review .review-slider .slide p {
  font-size: 1.2rem;
  color: var(--primary-color);
  line-height: 1.7;
  padding: 1rem 0;
}

.review .review-slider .slide .stars {
  padding: 1rem 0;
  padding-bottom: 1.5rem;
}

.review .review-slider .slide .stars i {
  font-size: 2rem;
  color: var(--main-color);
}

.swiper-pagination-bullet-active {
  background: var(--main-color);
}

/* end */

FAQ Section */ .container_1 {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  place-items: center;
}

.accordion__wrapper {
  background-color: #fff;
  box-shadow: 0px 60px 56px -12px rgba(141, 164, 255, 0.05);
  border-radius: 2.5rem;
  width: 100%;
  max-width: 60rem;
  padding: 5rem;
}

.accordion__title,
.faq h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: #242e4c;
  text-align: center;
  margin-bottom: 2rem;
}

.accordion {
  border-bottom: 0.5rem solid #dae1f5;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-radius: 30px;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.accordion__header:hover {
  background-color: #f1f1f1;
}

.accordion__icon {
  background-color: #ff4b4b;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:black;
  flex-shrink: 0;
  font-weight: 900;
}

.accordion__question {
  font-size: 1.6rem;
  font-weight: 500;
  color: #242e4c;
}

.accordion__answer {
  padding: 2rem 0;
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease-in-out;
}

footer p {
  margin: 10px 0 0 0;
  text-align: center;


}

.topbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 11px;
  right: 29px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  user-select: none;
  font-size: 22px;
  border-radius: 50%
}


/* Here are the styles for the theme toggel  */
.theme-switch {
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background: linear-gradient(49deg, #ffffff, #0644ff);
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  vertical-align: middle;
}

.theme-switch::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: left 0.3s ease-in-out, background-image 0.3s ease-in-out;
  background-image: url('Assets/moon.png');
}

.theme-switch.dark-theme {
  background: linear-gradient(82deg, #4d1fff, #ffffff);
}

.theme-switch.dark-theme::before {
  left: 33px;
  background-image: url('Assets/sun.png');
}
/* Index..html dark styles */
.dark-mode * {
  color: white;
  background-color: black;
}

.dark-mode .navbar a {
  color: white;
  background: rgb(0, 0, 0);
}

.dark-mode .text-overlay p{
  color: white;
  background: rgb(0, 0, 0);
}

.dark-mode .navbar::after {
  color: #ffffff;
  background: white;
}

.dark-mode .navbar a:hover {
  background: rgb(0, 0, 0);
}

.dark-mode .header-btn .sign-up {
  background: #ff0624;
  color: #fff;
  border-radius: 0.5rem;
}
.dark-mode .header-btn .sign-up:hover {
  background: #474fa1;
}
.dark-mode .carweb{
  content: url("Car\ Website\ dark\ –\ 1@2x.png\ .png");
  left: 1400px;
  width: 100%;
}
.dark-mode .ride .ride-container .bx {
  background: #000000;
}
.dark-mode .services-container .box {
  box-shadow: 1px 4px 41px rgb(200 99 99);
}
.dark-mode .services-container .box  h2{
  color: #474fa0;
}
.dark-mode .services-container .box  .btn{
  background: rgb(211, 15, 15);
}
.dark-mode .services-container .box .btn:hover {
  background: #474fa0;
}
.dark-mode #why-choose-us {
  padding: 50px 0;
  background-color: #000000;
}
.dark-mode .header h2 {
  font-size: 24px;
  color: #fff1f1;
  margin-bottom: 10px;
}
.dark-mode .header h1 {
  color: #fff1f1;
}
.dark-mode .header p {
  color: #fff1f1;
}
.dark-mode .feature h3 {
  color: #ffebeb;
}
.dark-mode .feature p {
  color: #ffebeb;
}
.dark-mode .accordion__title, .faq h1{
  color: #b1c4fa;
}
.dark-mode .accordion__wrapper{
  box-shadow: 11px 1px 56px 0px rgb(153 173 255 / 95%);
}
.dark-mode [class^="ri-"], [class*=" ri-"] {
  color: white;
  background-color: black;
}
.dark-mode .accordion__header:hover {
  background-color: #000000;
}
.dark-mode input[type="text"], input[type="email"], input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  color: white;
  background: white;
}
.dark-mode .contact-right {
  border-radius: 30px;
  background: whitesmoke;
}
.dark-mode .testimonial {
  box-shadow: -1px -1px 20px 5px rgb(255 80 80);
}
.dark-mode .footer-column ul li a {
  color: #fff6f6;
}

.booking-form .form-group input,
.booking-form .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Dark mode styles */
body.dark-mode {
    --input-bg-color: #333;
    --input-text-color: #fff;
}

body:not(.dark-mode) {
    --input-bg-color: #fff;
    --input-text-color: #000;
}

/* Additional dark mode styles for input fields */
body.dark-mode .booking-form .form-group input,
body.dark-mode .booking-form .form-group select {
    background-color: #333;
    color: #fff;
    border-color: #555;
}

body.dark-mode .booking-form .form-group input::placeholder,
body.dark-mode .booking-form .form-group select::placeholder {
    color: #333;
}