/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    background-color: rgb(238, 239, 241);;
}
.root{
    --main-color:#b02f18;
    --second-color:#ffac38;
    --text-color:#444;
    --gradient: linear-gradient(#fe5b3d, #ffac38);
}
/*Custom Scroll Bar */
html::-webkit-scrollbar {
    width: 0.5rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: rgb(220, 215, 215);
    border-radius: 5rem;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}
.logo img {
    width: 60px;
    border-radius: 10px; /* This creates 10px rounded corners */
  }
  ------------------------------------------

  header nav {
    padding: 20px 40px 20px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #1e1e1e;
}

header nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .nav-right a {
    text-decoration: none;
    color: #1e1e1e;
    margin-right: 40px;
    position: relative;
}

header nav .nav-right a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 0;
    height: 2px;
    background: #1e1e1e;
    transition: width .3s ease-in-out;
}

header nav .nav-right a:hover:after {
    width: 70%;
}

header nav .nav-right a.active:after {
    width: 70%;
}

header nav .nav-right .header-btn > div {
    background: #eeeff1;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
}

header nav .nav-right .header-btn > div input {
    background: transparent;
    border: none;
    outline:none;
    font-size: 16px;
    color: #fff;
}
.sign-up {
    padding: 8px 30px;
    border: 1px solid transparent;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: all .5s ease-in-out;
}

.sign-up {
   background: transparent;
   color: #eeeff1;
   border-color: #ff0001; 
}

.sign-up:hover {
  /* background: #ffffff;*/
    background: #ff0001;
    color: #121212;
}
/*.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: #444;
    font-weight: 500;
}
.navbar a ::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover{
    background: rgb(231, 223, 223);
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color: #444;
    font-weight: 500;
}
.header-btn .sign-in{
    background: #475fa0;
    color: #fff;
    border-radius: 0.5rem;
}
.header-btn .sign-in:hover{
    background: red;
}
.header-btn .sign-up{
    background: #474fa1;
    color: #fff;
    border-radius: 0.5rem;
}
.header-btn .sign-up:hover{
    background: rgb(211, 10, 10);
}*/
.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,lfr);
}
.carweb img{
    left: 1400px;
    width: 100%;
}
.text h1{
    font-size: 3.5rem;
    letter-spacing: 2px;
}
.text span{
    color: red;
}
.text p{
    margin: 00.5rem 0 1rem;
}
.app-stores{
    display: flex;
    position: absolute;
}
.app-stores img{
    width: 200px;
    margin-right: 1rem;
    cursor: pointer;
}
.form-container form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 10px;
    left: 100px;
    background-color: rgb(238, 239, 241);
    padding: 19px;
    border-radius: 0.5rem;
}
.input-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box span{
    font-weight: 500;
}
.input-box span span{
    color: #b02f18;
}
.input-box input
{
    padding: 7px;
    outline: none;
    border: none;
    background: #e2e5eb;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.form-container form .btn{
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: #474fa0;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.form-container form .btn:hover{
    background: rgb(211, 15, 15);
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
}
.heading h1{
    font-size: 2rem;
}
.ride{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.ride .ride-container{
    text-align: center;
    padding: 20px;
}
.ride .ride-container .bx {
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.5rem;
    color: #fe5b3d;
}
.ride .ride-container .bx h2{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1.5rem 0 0.5rem;
}
.ride .ride-container .bx:hover{
    background: red;
    color: #eeeff1;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}
.services-container .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}
.services-container .box .box-img{
    width: 100%;
    height: 200px;
}
.services-container .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.services-container .box p{
    padding: 0 10px;
    border: 1px solid #444;
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
}
.services-container .box h3{
    font-weight: 500;
}
.services-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    color: #b02f18;
    margin: 0.2rem;
}
.services-container .box h2 span{
    font-size: 0.8rem;
    font-weight: 500;
    color: #444;
}
.services-container .box .btn{
    display: flex;
    justify-content: center;
    background: #474fa0;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
}
.services-container .box .btn:hover{
    background-color: #b02f18;
}
.form-container1 form{
    display: list-item;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 3.4rem;
    left: 100px;
    background-color: rgb(238, 239, 241);
    padding: 19px;
    border-radius: 0.5rem;
}
.buttonClass {
    font-size:15px;
    font-family:Arial;
    margin-top: 10px;
    width:140px;
    height:50px;
    border-width:1px;
    color:#333333;
    border-color:#ffaa22;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: 0px 1px 0px 0px #fff6af;
    text-shadow: 0px 1px 0px #ffee66;
    background:linear-gradient(#ffec64, #ffab23);
}  
.buttonClass:hover {
    background: linear-gradient(#ffab23, #ffec64);
    color: #fff;
}
.form{
    padding: 1rem 1rem 1rem 1rem;  
    margin-top: 3.5rem;  
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}
  input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #e6e7e9;
    color:#141414;
    padding: 7px 5px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.call-us {
    text-align: center;
    margin-bottom: 20px;
}

.call-us p {
    margin: 0;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    margin: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #141414;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color:#999;
}

.language-selector {
    text-align: center;
}

.language-selector button {
    background-color: #141414;
    border: 1px solid #333;
    color: #999;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-selector button img {
    margin-left: 10px;
}

.language-selector button:hover {
    background-color: #333;
    color: #fff;
}

@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin: 20px 0;
        text-align: center;
    }
}
